<%include  header.ejs %>

                <form action="" method="post">
                        <% if(msg) { %>
                            <% } %>
                                <% if(err_msg) { %>
                                    <ul>
                                        <% err_msg.forEach(function(error){ %>
                                            <li style="color:red;font-size:16px;">
                                                <%= error %>
                                            </li>
                                            <% }) %>
                                                <% } %>
                                    </ul>
                    
                        <p>
                                <label for="username" class="floatLabel" >Email</label>
                                <input type="text" name="email" autofocus maxlength="254" required id="id_username"
                                />
                              </p>
                                  <p>
                                      <label for="password" class="floatLabel">Password</label>
                                <input type="password" name="password" autofocus maxlength="254" required id="id_password" />
                                              <span>Enter a password longer than 8 characters</span>
                              </p>
                              
                                  <p>
                                  <button type="submit" id="submit2" >Login</button>
                                </p>
                              <a href="/register">Sign up</a>
                </form>
 <%include  footer.ejs %>
