<%include  header.ejs %>


                <form action="register" method="post" enctype="multipart/form-data">
                    <% if(msg) { %>
                        <h1>
                            <%= msg %>
                        </h1>
                        <% } %>
                            <% if(err_msg) { %>
                                <ul>
                                    <% err_msg.forEach(function(error){ %>
                                        <li style="color:red">
                                            <%= error %>
                                        </li>
                                        <% }) %>
                                            <% } %>
                                </ul>
                                <p>
                                        <label for="name" class="floatLabel">Username</label>
                                        <input id="name" name="username" type="text"
                                        >
                                    </p>
                                    <p>
                                        <label for="password" class="floatLabel">Password</label>
                                        <input id="password" name="password" type="password">
                                        <span>Enter a password longer than 8 characters</span>
                                    </p>
                                    <p>
                                        <label for="confirm_password" class="floatLabel">Confirm Password</label>
                                        <input id="confirm_password" name="confpassword" type="password">
                                        <span>Your passwords do not match</span>
                                    </p>
                                    <p>
                                            <label for="name" class="floatLabel">Email</label>
                                            <input id="name" name="email" type="email"
                                            >
                                        </p>
                                        <p>
                                                <label for="roomno" class="floatLabel">Room No</label>
                                                <input id="roomno" name="room_no" type="text"
                                                >
                                            </p>
                                            <p>
                                                    <label for="ext" class="floatLabel">Ext.</label>
                                                    <input id="ext" name="ext" type="text"
                                                    >
                                                </p>
                                    <p>
                                        <button type="submit" id="submit2" >Create My Account</button>
                            
                                </p>
                                <a href="/login">Login</a>
                </form>
                <%include  footer.ejs %>
