<%include  header.ejs %>
<div class="row">
    <div class="col-6">
        <form action="/orders/add" method="post" class="form-control" id="myForm">     
            <input type="submit" value="Order" id="order">
        </form>
        <% products.forEach(function(product){ %>
            <button value="<%= product._id %>"><%= product.name %></button>
        <% }) %>
    </div>

</div>

    <script src="/js/jquery-3.2.1.js"></script>   
    <script src="/js/socket.io.js"></script>
 
    <script>
        var products='';
        $(function(){
            var myForm=$('#myForm');              
            $('button').click(function(){
                var myInput = $("<input type='hidden'>").val(this.value);  
                products+=this.innerText+",";
                myInput.attr('name', "products");
                myForm.prepend(myInput);
            })        
        });
    </script>
    <script>
        var socket = io('http://localhost:9090');
        $(function(){
            var send=$('#send');
            var order=$('#order');
            var username=$('#username');
            var admin=$('#admin');
            
            send.click(function(){
                console.log(admin.val());
                socket.emit('user_data',{username:username.val(),admin:admin.val()})
                username.val("");
                admin.val("");                

            });
            order.click(function(){
                socket.emit('request_order',products);

            })
        });
        socket.on("client_order",(data)=>{
            alert(data);
        });
;
    </script>
<%include  footer.ejs %>
