<%include  ../layout/header.ejs %>
<div class="col-6">
    <form action="/users/add" method="post" class="form-control">
        Id:<input type="text" name="_id" value="" class="form-control"><br>
        Name:<input type="text" name="name" value="" class="form-control"><br>        
        <input type="submit" value="Save" class="btn btn-success">
    </form>

</div>
<%include  ../layout/footer.ejs %>
