
<footer>    
    <div class="container_12">
      <div class="grid_6 prefix_3">
        <div class="copy">
        &copy; 2013 | <a href="#">Privacy Policy</a> <br> Website   designed by ITI
        </div>
      </div>
    </div>
  </footer>
         <script>
        $(document).ready(function(){ 
           $(".bt-menu-trigger").toggle( 
            function(){
              $('.bt-menu').addClass('bt-menu-open'); 
            }, 
            function(){
              $('.bt-menu').removeClass('bt-menu-open'); 
            } 
          ); 
        }) 
      </script>
  </body>
  
  </html>