<%include  header.ejs %>
<div class="col-6">
    <form action="/products/add" method="post" class="form-control">
     
        Product:<input type="text" class="form-control"name="name" value=""><br>   
        Price:EGP<input type="text" class="form-control"name="price" value=""><br>    
        Category:<select  class="form-control" name="category" id="">
            <% categories.forEach(function(category){ %>
                <option value="<%= category._id %>"><%= category.name %></option>
                <% }) %>
        </select>                 
        <input type="submit"class="btn btn-success" value="Save">
    </form>
    </div>
<%include  footer.ejs %>
